@inherits LayoutComponentBase

<NavMenu />
<div class="page">
    <div class="container">
        @Body
        <MudThemeProvider/>
        <MudDialogProvider/>
        <MudSnackbarProvider/>
    </div>
</div>
