@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager NavManager

<div class="nav-container red ">
            <div>
                @if (localStorage.GetItemAsString("token") != null)
                {
                    <div class="logs">
                        <span class="btn btn-info">@Convert.ToString(localStorage.GetItem<string>("user_nom"))</span>
                        <NavLink href="login">
                            <span class="btn btn-success" @onclick="logOut">Se déconnecter</span>
                        </NavLink>
                    </div>
                }
                else
                {
                    <div class="logs">
                        <NavLink href="login">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Se connecter
                        </NavLink>
                        </div>
                }
            </div>
    <div class="topBotomBordersIn">
        <NavLink class="nav-link1" href="home" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        @if (isAdmin)
        {
            <NavLink class="nav-link1" href="equipe">
                <span class="oi oi-plus" aria-hidden="true"></span> Equipe
            </NavLink>
            <NavLink class="nav-link1" href="avantages">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Avantages
            </NavLink>
        }
    </div>
</div>

@code {

    private bool collapseNavMenu = true;
    private bool isAdmin = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        if (localStorage.GetItem<string>("user_roles") == "Admin")
        {
            isAdmin = true;
            Console.WriteLine(isAdmin);
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    private void logOut()
    {
        localStorage.Clear();
        NavManager.NavigateTo("/login");
    }
}
